.App {
  text-align: center;
  color: black;
  font-style: oblique;
  font-weight: bold;
}

.header {
  font-size: 3rem;
  background: #20232a;
  color: rgb(97, 218, 251);
  margin-top: 0;
  margin-bottom: 30px;
  padding: 20px;
  cursor: pointer;
}